<div class="contact">
  <div class="contact-info">
    <!-- <h1>Contact Me</h1> -->
    <h2 class="title">Contact Informations</h2>
    <ul>
      <li>
        <fa-icon [icon]="linkedinIcon"></fa-icon>
        <a id="profile-link" target="_blank"
          href="https://www.linkedin.com/in/ammar-haj-bakour-28204a21b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bh0tewAg8TDuyxgUaNeOFuQ%3D%3D">
          <span>LinkedIn</span>
        </a>
      </li>
      <li>
        <fa-icon [icon]="githubIcon"></fa-icon>
        <a target="_blank" href="https://github.com/Abu-alwafa">
          <span>GitHub</span>
        </a>
      </li>
      <li>
        <fa-icon [icon]="codepenIcon"></fa-icon>
        <a target="_blank" href="https://codepen.io/abu-alwafa">
          <span>CodePen</span>
        </a>
      </li>
      <li>
        <fa-icon [icon]="messageIcon"></fa-icon>
        <a href="mailto:abu.alwafa892@gmail.com/">
          <span>Send Message</span>
        </a>
      </li>
      <li>
        <fa-icon [icon]="mobileIcon"></fa-icon>
        <a href="tel:00905317703913">
          <span>Call Me</span>
        </a>
      </li>
      <li>
        <fa-icon [icon]="whatsapp"></fa-icon>
        <a href="https://wa.me/905317703913">
          <span>WhatsApp</span>
        </a>
      </li>
    </ul>
  </div>
</div>
