:host {
  padding-inline-end: .75rem;
  .contact {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    color: cyan;
    .contact-info {
      position: relative;
      width: 100%;
      max-width: 800px;
      min-height: 300px;
      justify-self: center;
      align-self: center;
      text-align: center;
      // background: rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // border: 1px solid cyan;
      font-size: 1.2rem;

      .title {
        text-transform: uppercase;
      }

      ul {
        width: 100%;
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-gap: 10px;
        @media(max-width: 820px) {
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 50px 50px;
        }
        @media(max-width: 576px) {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, 50px);

        }

        li {
          list-style: none;
          text-align: left;
          margin-left: 1rem;
          // text-align: center;
          fa-icon {
            color: darkcyan;
            font-size: 1.3rem;
            position: relative;
            top: 2px;
            margin-right: 5px;
            transition: .25s linear;
          }

          a {
            display: inline-block;
            text-decoration: none;
            color: var(--secondry-coloe);
            transition: .25s linear;
          }

          &:hover a {
            text-shadow: 0 2px 10px cyan, 0 2px 20px cyan, 0 2px 30px cyan;
            filter: brightness(200%);
          }

          &:hover fa-icon {
            color: cyan;
          }
        }
      }
    }
  }
}