:host {

  .text-conatainer {
    width: 100%;
    max-width: 500px;
    color: var(--secondry-coloe);
    font-weight: 600;
    font-size: 1.2rem;
    text-align: justify;
    margin: auto;
    p{
      margin-block-end: 1rem;  
      transition: .25s linear;
      &:hover{
        color: cyan;
      }
    }

  }

}


