:host {
  
  header {
    margin-block-end: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      gap: .5rem;

      .title {
        font-family: 'Dancing Script', cursive; 
        color: transparent;
        font-size: 1.5rem;
        span {
          // animation: animate 4s ease-in infinite;
          // animation-delay: calc(0.2s * var(--i));
          color: cyan;
        }
  
        code {
          position: relative;
          top: 5px;
        }
      }

      .contact-info {
        color: cyan;
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        border-inline: 1px solid darkcyan;
        height: fit-content;
        ul {
          width: 100%;
          display: flex;
          gap: .5rem;
          margin-inline: .5rem;
  
          li {
            list-style: none;
            text-align: left;
            border: 1px solid darkcyan;
              width: 30px;
              height: 30px;
              transition: .25s linear;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            fa-icon {
              color: darkcyan;
              font-size: 1rem;
              transition: .25s linear;
              
            }
  
            a {
              display: inline-block;
              text-decoration: none;
              color: var(--secondry-coloe);
              transition: .25s linear;
              font-size: 14px;
            }
            &:hover{
              border-color: cyan;
            }
            &:hover a {
              text-shadow: 0 2px 10px cyan, 0 2px 20px cyan, 0 2px 30px cyan;
              filter: brightness(200%);
            }
  
            &:hover fa-icon {
              color: cyan;
              
            }
          }
        }
      }
    }

    nav {
      .links {
        display: flex;
        gap:1rem;
        
        li {
          list-style: none;
          align-items: center;
          // padding: .5rem 1rem;
          // margin-inline-end: .5rem;
          cursor: pointer;
          transition: 0.3s linear;
          &.active{
            & a{
              color: cyan;
            }
          }

          &:hover a {
            color: cyan;
          }

          a {
            text-decoration: none;
            color: darkcyan;
            letter-spacing: 1px;
            font-size: 1rem;
            font-weight: 600;
            transition: .25s linear;
          }
        }
      }

      .toggle-menu {
        width: 35px;
        height: 32px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid cyan;
        border-radius: 2px;
        cursor: pointer;
        display: none;

        transition: .2s ease-in-out;
        position: absolute;
        top: 1rem;
        right: 0;
        z-index: 999;
        & span:nth-of-type(1) {
          width: 50%;
        }

        & span:nth-of-type(3) {
          width: 50%;
        }
        &.open span {
          position: absolute;
        }

        &.open span:nth-last-of-type(1) {
          transform: rotate(-45deg);
          
        }

        &.open span:nth-last-of-type(2) {
          display: none;
        }

        &.open span:nth-last-of-type(3) {
          transform: rotate(45deg);
          
        }


        

        @media(max-width: 768px) {
          display: flex;
        }

        span {
          display: block;
          width: 70%;
          height: 3px;
          background: cyan;
          border-radius: 10px;
          transition: 0.2s ease;
        }
      }
    }
  }
}
