<header id="navbar">
  <div class="logo">
        <div class="contact-info">
      <ul>
        <li>
          <a href="tel:00905317703913" target="_blank">
            <fa-icon [icon]="mobileIcon"></fa-icon>
            <!-- <span>Call Me</span> -->
          </a>
        </li>
        <li>
          <a href="https://wa.me/905317703913" target="_blank">
            <fa-icon [icon]="whatsapp"></fa-icon>
            <!-- <span>WhatsApp</span> -->
          </a>
        </li>
        <li>
          <a href="mailto:ammar.hajbakour@gmail.com/" target="_blank">
            <fa-icon [icon]="messageIcon"></fa-icon>
            <!-- <span>Message by email</span> -->
          </a>
        </li>
        <li>
          <a id="profile-link" target="_blank"
          href="https://www.linkedin.com/in/ammar-hajbakour-28204a21b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B0TtqrG2ERBaQhMJxw9nsrw%3D%3D">
          <fa-icon [icon]="linkedinIcon"></fa-icon>
            <!-- <span>LinkedIn</span> -->
          </a>
        </li>  
      </ul>
    </div>
    <h1 class="title">
      <span style="--i: 2">A</span>
      <span style="--i: 3">m</span>
      <span style="--i: 4">m</span>
      <span style="--i: 5">a</span>
      <span style="--i: 6">r</span>

      <span style="--i: 7; margin-left: 10px;">H</span>
      <span style="--i: 8">a</span>
      <span style="--i: 9">j</span>
      <span style="--i: 10">b</span>
      <span style="--i: 11">a</span>
      <span style="--i: 12">k</span>
      <span style="--i: 13">o</span>
      <span style="--i: 14">u</span>
      <span style="--i: 15">r</span>
    </h1>
  </div>
  <div class="spacer"></div>
  <nav>
    <ul class="links" [class.show]="show" (click)="handleListClick()">
      <li routerLinkActive="active" routerLink="about"><a>About</a></li>
      <li routerLinkActive="active" routerLink="p-skills"><a>Skills</a></li>
      <li routerLinkActive="active" routerLink="certificates"><a>Certificates</a></li>
    </ul>
    
  </nav>

</header>
