<div class="certificate">
  <div class="cards">

    <a href="https://abu-alwafa.github.io/My-Certificates/Responsive%20Web%20Design%20freeCodeCamp.png"
      class="card project-tile" target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/Responsive%20Web%20Design%20freeCodeCamp.png"
        alt="responsive web design">
      <p class="project-title card-title">Responsive Web Design</p>
    </a>
    <a href="https://www.freecodecamp.org/certification/abuarab/javascript-algorithms-and-data-structures"
      class="card project-tile" target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/Javascript%20Algorithms%20and%20Data%20Structures.png"
        alt="">
      <p style="font-size: 80%;" class="project-title card-title">JavaScript Algorithms and Data Structures</p>
    </a>
    <a href="https://abu-alwafa.github.io/My-Certificates/Udacity.pdf" class="card project-tile" target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/Full%20Stack%20Development%20Track.png"
        alt="full stack development track">
      <p style="font-size: 80%;" class="project-title card-title">Full Stack Development Track</p>
    </a>
    <a href="https://abu-alwafa.github.io/My-Certificates/Udasity_FulStack.pdf" class="card project-tile"
      target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/Full%20Stack%20Development%20Final.png"
        alt="full stack development">
      <p style="font-size: 80%;" class="project-title card-title">Full Stack Development Final</p>
    </a>

    <a href="https://abu-alwafa.github.io/My-Certificates/Coding%20For%20Marketers.pdf" class="card project-tile"
      target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/Coding%20For%20Marketers.png" alt="coding for marketers">
      <p class="project-title card-title">Coding For Marketers</p>
    </a>
    <a href="https://abu-alwafa.github.io/My-Certificates/HTML.pdf" class="card project-tile" target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/HTML.png" alt="html">
      <p class="project-title card-title">HTML</p>
    </a>
    <a href="https://abu-alwafa.github.io/My-Certificates/CSS.pdf" class="card project-tile" target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/CSS.png" alt="css">
      <p class="project-title card-title">CSS</p>
    </a>
    <a href="https://abu-alwafa.github.io/My-Certificates/JAVASCRIPT.pdf" class="card project-tile" target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/JAVASCRIPT.png" alt="js">
      <p class="project-title card-title">Javascript</p>
    </a>
    <a href="https://abu-alwafa.github.io/My-Certificates/jQuery.png" class="card project-tile" target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/jQuery.png" alt="jquery">
      <p class="project-title card-title">jQuery</p>
    </a>
    <a href="https://abu-alwafa.github.io/My-Certificates/Responsive%20Web%20Disign.pdf" class="card project-tile"
      target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/Responsive%20Web%20Disign.png" alt="responsive web design">
      <p class="project-title card-title">Responsive Web Design</p>
    </a>
    <a href="https://abu-alwafa.github.io/My-Certificates/Angular.pdf" class="card project-tile" target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/Angular.png" alt="angular + nestjs">
      <p class="project-title card-title">Angular + Nest.Js</p>
    </a>
    <a href="https://abu-alwafa.github.io/My-Certificates/Python%20for%20begginers.pdf" class="card project-tile"
      target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/Python%20for%20begginers.png" alt="php">
      <p class="project-title card-title">Python For Beginners</p>
    </a>
    <a href="https://abu-alwafa.github.io/My-Certificates/PHP.png" class="card project-tile" target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/PHP.png" alt="php">
      <p class="project-title card-title">PHP</p>
    </a>
    <a href="https://abu-alwafa.github.io/My-Certificates/SQL.pdf" class="card project-tile" target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/SQL.png" alt="sql">
      <p class="project-title card-title">SQL</p>
    </a>
    <a href="https://abu-alwafa.github.io/My-Certificates/SQL_advanced.pdf" class="card project-tile" target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/SQL_advanced.png" alt="sql_advanced">
      <p class="project-title card-title">SQL Advanced</p>
    </a>
    <a href="https://abu-alwafa.github.io/My-Certificates/Web%20development-certificates.pdf" class="card project-tile"
      target="_blank">
      <img src="https://abu-alwafa.github.io/My-Certificates/Web%20Development.png" alt="web development">
      <p style="font-size: 80%;" class="project-title card-title">Web Development</p>
    </a>
  </div>
</div>