
  <div class="skills-container">
    <div class="skills">
      <div class="progress">
        <h4>Responsive Web Design</h4>
        <p><span style='width:90%'></span></p>
      </div>
      <div class="progress">
        <h4>Design Thinking</h4>
        <p><span style='width:90%'></span></p>
      </div>
      <div class="progress">
        <h4>Front End Coding</h4>
        <p><span style='width:95%'></span></p>
      </div>
      <div class="progress">
        <h4>Data structure</h4>
        <p><span style='width:80%'></span></p>
      </div>
      <div class="progress">
        <h4>Algorithms</h4>
        <p><span style='width:80%'></span></p>
      </div>
      <div class="progress">
        <h4>Problem-Solving</h4>
        <p><span style='width:80%'></span></p>
      </div>
      <div class="progress">
        <h4>Project Management Tools</h4>
        <p><span style='width:80%'></span></p>
      </div>
     
    </div>
    
  </div>

  <div class="prod-and-langs">
    <div class="most-prod">
      <div id="item" class="item">
        <h4>Front End</h4>
        <p>Css3, Sass, Bootstrap,
          Javascript,Jquery,
          React,Angular2+, Wordpress</p>
      </div>
      <div id="item" class="item">
        <h4>Databases</h4>
        <p>MySql, MongoDB, Firebase</p>
      </div>
      <div id="item" class="item">
        <h4>Back End</h4>
        <p>Php, NodeJs, NextJs
        </p>
      </div>
    </div>
    <div class="lang">
      <h2 class="title">Languages :</h2>
      <div class="progress">
        <h4>Turkish</h4>
        <p> <span style='width:90%'></span> </p>
      </div>
      <div class="progress">
        <h4>English</h4>
        <p><span style='width:80%'></span></p>
      </div>
    </div>
  </div>

