:host {
  margin-block: auto;
  height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    padding-inline-end: .5rem;
    @media(max-width: 912px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

    }


  .skills-container,
  .prod-and-langs {
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: var(--secondry-coloe);
    padding: 1rem;
    border: 1px solid cyan;
    border-radius: 2px;
  }

  .progress {
    width: 100%;
  }


  .progress p {
    border: 1px solid var(--secondry-coloe);
    border-radius: 2px;
    width: 100%;
    height: 10px;
    position: relative;
    margin-block-start: .2rem;
  }

  .progress p span {

    background: darkcyan;
    box-shadow: 0 0 10px cyan, 0 0 20px cyan;
    position: absolute;
    display: inline-block;
    height: 8px;
    transition: 0.5s linear;
  }


  .skills-container .skills {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: .3rem;
    margin: auto;
  }

  .prod-and-langs {
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .most-prod {
    width: 100%;
    // max-width: 350px;
    display: flex;
    flex-flow: column;
    align-items: center;

  }

  .most-prod .item {
    width: 100%;
    height: 100%;
    // text-align: center;
    transition: .5s ease-in;

  }


  .most-prod .item p {
    width: 90%;
    font-weight: 600;
    letter-spacing: 1px;
    margin: auto;
  }

  .most-prod .item h4 {
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 10px;
    color: cyan;
    text-shadow: 0 0 10px darkcyan;

  }
  .lang{
    .title{
      margin-block-end: 1rem;
    }
    .progress{
      margin-block-end: 1rem;
    }
  }
}